#main{
    width: 400px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -200px 0 0 -200px;
}

#footer{
    width: 320px;
    height: 150px;
    position: absolute;
    bottom: 5%;
    left: 50%;
    margin-left: -160px;
    background-color: antiquewhite;
}