#main{
    width: 720px;
    height: 720px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -360px 0 0 -360px;
    background-color: #DDD;
}

#footer{
    width: 715px;
    height: 215px;
    position: absolute;
    bottom: 5%;
    left: 50%;
    margin-left: -357.5px;
}

#ad_frame
{
    margin: 0px;
    padding: 0px;
    border: 0px;
    width: 715px;
    height: 215px;
    background-color: #DDD;
}