#footer_ad{
    z-index: 100;
    width: 300px;
    height: 150px;
    position: fixed;
    bottom: 10px;
    left: 50%;
    margin-left: -150px;
}

#ad_frame
{
    width: 300px;
    height: 150px;
    background-color: brown;
}